.form {
  display: flex;
  justify-content: center;
}

.input {
  height: 40px;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  letter-spacing: 2px;
}

.button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  color: #222;
  cursor: pointer;
}

.invalid .button {
  color: #ccc;
}
