.form {
  display: flex;
  justify-content: center;
}

.input {
  height: 1.75rem;
  padding: 0 10px;
  border: 1px solid lightgray;
  outline: none;
  letter-spacing: 2px;
}

.button {
  background-color: transparent;
  cursor: pointer;
  transition: background-color 300ms;
}

.button:hover {
  background-color: #eee;
}
