.header {
  display: flex;
  align-items: center;
  max-height: 4rem;
  border-bottom: 1px solid #ddd;
  font-family: "Dancing Script", "Roboto", sans-serif;
  margin-bottom: 30px;
  padding: 20px;
}
