.photos-container {
  margin: 4rem 0;
}

.btn:hover {
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.button {
  color: #222;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to bottom, #fff, #fafafa);
  border: 1px solid #eee;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.button:hover {
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.current-page {
  background-image: linear-gradient(to bottom, #222, #313131);
  border: 1px solid #313131;
  color: white;
}

.home-button {
  width: 200px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #eee;
  background-image: linear-gradient(to bottom, #fff, #fafafa);
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  color: #222;
  text-align: center;
}

.home-button:hover {
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
