.photo-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #eee;
}

.photo {
  width: 100%;
  object-fit: contain;
  display: block;
}

.user-details {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-data {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-data h5 {
  font-size: 17px;
  margin-bottom: 0;
}

.photo-details {
  padding: 20px;
}

.user-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.more-horiz-icon {
  color: #222;
}

.photo-data h5 {
  font-size: 17px;
  margin-bottom: 6px;
}

.photo-description {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.likes {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.like-icon {
  color: rgba(255, 0, 0, 0.8);
}

.link {
  text-decoration: none;
  color: #222;
  display: block;
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
}

.link:hover {
  color: #222;
}
