.photo-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #eee;
}

.photo {
  object-fit: contain;
  width: 100%;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.user-image {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
}
