* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
  background-color: #fafafa;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}
